<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"site-main","layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}}} -->
<article class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-title /-->

<!-- wp:post-featured-image {"width":"","height":"","sizeSlug":"200x250"} /-->

<!-- wp:post-content /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->